<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>
<!--
<link rel="stylesheet" type="text/css"
 href="/static/js/node_modules/bootstrap-daterangepicker/daterangepicker.css"
/>
-->
<link rel="stylesheet" type="text/css"
    href="../static/css/busy.css"
/>
<!--
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link type="text/css" href="css/bootstrap.min.css"/>
<link type="text/css" heref="css/bootstrap-timepicker.min.css"/>
<script type="text/javascript" src="../jquery-timepicker/js/jquery.min.js"></script>
<script type = "text/javascript" src="../jquery-timepicker/js/bootstrap.min.js"></script>
<script type = "text/javascript" src="../jquery-timepicker/js/bootstrap-timepicker.min.js"></script>
-->
<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>


<!-- The rest of our javascript dependencies are bundled and -->
<!-- 'minified' by 'browserify'  -->
<!--<script type="text/javascript" 
   src="/static/js/busy.min.js">
</script>
-->
</head>

<body>
<div class="container">

<h1>Busy times</h1>

<!--
  -- If there are any warnings or other messages from a prior action,
  -- they appear above the rest of the content, just until the next 
  -- action.
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h2>Date range</h2>

<p id="daterange">
  <input type="text" class="date start" />
  <input type="text" class="date end" />
  <b>From</b>
  <input type="text" class="time start" />
  <input type="text" class="time end" />
</p>

<link rel="stylesheet" href="/static/js/jquery-ui.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<link rel="stylesheet" href="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.css">

<script src="//code.jquery.com/jquery-2.2.0.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script src="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.js"></script>
<script>

  $('#daterange.time').timepicker({
    'showDuration': true,
	'timeFormat': 'g:ia'
  });
  $('#daterange.date').datepicker({
    'format':'yyyy-m-d',
	'autoclose': true
  });
  
  //$('#daterange').datepair();
</script>
 

<br />
<!--<input type="submit" value="Choose" /> -->

</form>

    <!--
    Show the calendar list (if we have it).  This will need to be turned into
    a form from which calendars can be picked. Up to three entries are
    shown in each row (but the order is across then down; I would
    prefer down then across). 
    -->
{% if session.calendars is defined  %}
  <div class="row">
  {% for cal in session.calendars if cal.selected %}
          <div class="col-md-4">
	   {{ cal.summary }}
          </div>
         {% if loop.index is divisibleby 3 %}
          </div> <div class="row">
         {% endif %}
  {% endfor %}
  </div>
{% endif %}
    

  </div>  <!-- container (for bootstrap) -->
  </body> </html>
