<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel=stylesheet type=text/css href="/static/css/propose.min.css">

<!-- jquery doesn't follow npm rules; load it directly, not through -->
<!-- @require -->
<script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>


<!-- The rest of our libraries are loaded with the minified version of -->
<!-- our main javascript application file -->
<script type="text/javascript" 
   src="/static/js/propose.min.js">
</script>

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />


</head>

<body>
<div class="container">

<h1>Busy times</h1>
I am not busy
<!--
  -- If there are any warnings or other messages from a prior action,
  -- they appear above the rest of the content, just until the next 
  -- action.
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h2>Date range</h2>
  <form action="/setrange" method="post">
  <input type="text" name="daterange"
    {% if session.daterange is defined %}
         value="{{session.daterange}}"
    {% endif %}
     class="pull-left"
     style="background: #fff; cursor: pointer; padding: 5px 10px;
     border: 1px solid #ccc; width: 100%" >
  <script type="text/javascript">
  $(function() {
  $('input[name="daterange"]').daterangepicker(
    {    ranges: {
           'Today': [moment(), moment()],
           'Tomorrow':[moment().add(1, 'days'),
                       moment().add(1, 'days')], 
           'This week':[moment(), moment().endOf('week')],
           'Next week':[moment().add(7, 'days').startOf('week'),
                        moment().add(7, 'days').endOf('week')],
           'This month':[moment(), moment().endOf('month')],
           'Within two weeks':[moment(),moment().add(15, 'days')]
        }}
       );
    });
  </script>

<input type="submit" value="Apply date range" />
</form>

    <!--
    The user is offered a chance to times that *do not* appear
    as 'busy' in any of a selected set of their calendars (e.g., times
    when they are in other meetings.

    If we already have the list of calendars, we display the menu. 
    If we don't, we provide a link that can be used to authorize
    access to the calendars. 
    -->

  </div>

  </body> </html>
