<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>
<!--
<link rel="stylesheet" type="text/css"
 href="/static/js/node_modules/bootstrap-daterangepicker/daterangepicker.css"
/>
-->
<link rel="stylesheet" type="text/css"
    href="../static/css/busy.css"
/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>


<!-- The rest of our javascript dependencies are bundled and -->
<!-- 'minified' by 'browserify'  -->
<!--<script type="text/javascript" 
   src="/static/js/busy.min.js">
</script>
-->
</head>

<body>
<div class="container">

<h1>Busy times</h1>
<p id="busy_times"></p>
<!--
  -- If there are any warnings or other messages from a prior action,
  -- they appear above the rest of the content, just until the next 
  -- action.
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h2>Date range</h2>

<form action="/setrange" method="post">
<!-- 
  -- Gives the user 4 text boxes. The first 2 boxes will display
  -- a calendar. On the calendar designate the start and end date
  -- that you want. Then the next 2 text boxes will let you choose
  -- start and end times.
  -->
<p id="daterange">
  <input type="text" name="dstart" {% if session.dstart is defined %} value="{{session.dstart}}"
    {% endif %} class="date start" id="dstart" />
  <input type="text" name="dend" {% if session.dend is defined %} value="{{session.dend}}"
    {% endif %} class="date end" id="dend" />
  <b>From</b>
  <input type="text" name="tstart" {% if session.tstart is defined %} value="{{session.tstart}}"
    {% endif %} class="time start" id="tstart" />
  <input type="text" name="tend" {% if session.tend is defined %} value="{{session.tend}}"
    {% endif %} class="time end" id="tend" />
  
 
</p>

<!--
  -- sytlesheets and code needed to use the date and time range picker.
  -- I am using the one from the second example at: http://jonthornton.github.io/Datepair.js/
  -->

<link rel="stylesheet" href="/static/js/jquery-ui.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<link rel="stylesheet" href="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.css">

<link rel="stylesheet" src="/static/js/Datepair.js/lib/jquery.ptTimeSelect.css">
<link rel="stylesheet" src="/static/js/Datepair.js/lib/pikaday.css">

<script src="//code.jquery.com/jquery-2.2.0.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> 

<script src="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.js"></script>


<script type="text/javascript" src="/static/js/Datepair.js/dist/datepair.js"></script>
<script type="text/javascript" src="/static/js/Datepair.js/src/jquery.datepair.js"></script>



<script>
<!-- create the timerange picker -->
  $('#daterange .time').timepicker({
    'showDuration': true,
	'timeFormat': 'g:ia'
  });
<!-- create the daterange picker --> 
  $('#daterange .date').datepicker({
    'format':'yyyy-m-d',
	'autoclose': true
  });
<!-- set the datepicker since I am not using bootstrap. Would encounter error otherwise --> 
  $('#daterange').datepair({
    parseDate: function(input){
	  return $(input).datepicker('getDate');
	},
	updateDate: function(input, dateObj){
	  return $(input).datepicker('setDate', dateObj);
	}
  });
</script>
 

<br />
<input type="submit" value="Choose" /> 
</form>
<form>
    <!--
    Show the calendar list (if we have it).  This will need to be turned into
    a form from which calendars can be picked. Up to three entries are
    shown in each row (but the order is across then down; I would
    prefer down then across). 
    -->
{% if session.calendars is defined  %}
  <div class="col">
  {% for cal in session.calendars if cal.selected %}
          <div class="row-md-4">
       
        <input type="checkbox" class="cal" name="cal" value="{{cal.id}}">{{ cal.summary }}</input>
        
        
          </div>
         {% if loop.index is divisibleby 3 %}
          </div> <div class="col">
         {% endif %}
  {% endfor %}
  </div>
{% endif %}

 <input type="submit" value="choose calendar" id="busy" />
 </form>
 <!--
   -- upon clicking the button to choose calendar, the beginning date
   -- end date and ID are sent to the function /get_events to get the
   -- events from the calendar. Once the results are return they are
   -- appended to the page.
   -->
<script type="text/javascript" src="/static/js/moment/moment.js"></script>
<script>

    
    function isoToHR(iso) {
        var time = iso;
		console.log(time);
        return moment(time).format('h:mmA');		
    }
    events = [];
    $("#busy").click(function(){
	    console.log("#busy click handler called");
		
        var bdate = $("#dstart").val();
        var edate = $("#dend").val();
        var btime = $("#tstart").val();
        var etime = $("#tend").val();
		
		
		var length = document.getElementsByName("cal").length;
		var cal_list = [];
		for (index = 0; index < length; index++) {
		    if (document.getElementsByName("cal")[index].checked == true)
			{
		        cal_list.push(document.getElementsByName("cal")[index].value);
			}
		}
		
		//alert(typeof(document.getElementsByName("cal")[1].value));
		//alert(cal_list);
		
         if($('input[class="cal"]').is(':checked')) {
		    console.log("Calendar is checked, making Ajax call");
			$.getJSON('/get_events', {bd : bdate, ed: edate, bt : btime, 
			                          et : etime, cals : JSON.stringify(cal_list)}, 
				function (data){
				
				    console.log("Returned from AJAX call");
					
					results = data.result;
					$.getJSON('/get_avail', {busy : JSON.stringify(results)},
					    function (data){
							available = data.rslt;
							console.log(available);
						});
					//alert("got data: " + results);
					
					for(i=0; i<results.length; ++i){
			
                        ev = isoToHR(results[i].start) + "-" + isoToHR(results[i].end);
						events.push(ev);
						
					   
					}
					console.log(events);
					a = ""
					for(j=0;j<events.length; ++j){
					    $('#busy_times').append(events[j] + "<br>");
			            
						 //a+=(events[j] +"\n");
						
						console.log(events[j]);
				    }
					console.log("printing info");
					//$('#busy_times').append(a.toString());
				});
                
  
        }
 
    });
</script>

  </div>  <!-- container (for bootstrap) -->
  </body> 
</html>
